html, body, p, ul{
    margin: 0;
}
html, body{
    height: 100%;
}
ul{
    padding: 0; 
}
li{
    list-style: none;
}
i{
    font-style: normal;
    display: inline-block;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.show{
    display: block;
}
.dialog{
    padding: 10px 20px;
    border-radius: 3px;
   
}
.dialog.error{
    border: 1px solid #fea335;
    box-shadow: 0 0 10px #fea335;
}
.dialog.success {
    border: 1px solid #6dccac;
    box-shadow: 0 0 10px #6dccac;
}
.dialog .title{
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.dialog .dialog-main{
    font-size: 12px;
}
.dialog .close{
    position: absolute;
    right: 8px;
    top: 2px;
    font-size: 12px;
    color: #cdcdcd;
}
.dialog .close i{
    display: inline-block;
}
.dialog .close i:first-child{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg) translate(6px, -6px);
}
.dialog .close i:last-child{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 600px;
    border: 1px dotted #eee;
    box-shadow: 0 0 12px #efefef;
}
.play-box{
    flex: 5;    
    display: flex;
    flex-direction: column;
}
.play-box .part-1, .play-box .part-2, .play-box .part-3 {
    display: flex;
}
.play-box .part-1{
    flex: 1;
    display: flex;
    align-items: flex-end;
}
.play-box .part-2{
    flex: 2;
}
.play-box .part-3{
    flex: 1;
}
.play-box li{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: blue;
}
.dice{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice-btn{
    width: 100px;
    height: 38px;
    color: #fff;
    background: #87d0f3;
    border: 1px solid #87d0f3;
}
.score{
    flex: 2;
}

