
body {
	background-color: lightgreen;
	font-family: Helvetica;
	color: white;
	background-image: url(bg_big_militant.jpg);
	background-position: center top;

}

.content {
	width: 720px;
	border: 5px; solid #3333331;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.25);
}

h1, h2, h3, h4 {
	margin: 0px;
	padding: 10px 20px;
}

h2{
	background-color: #f7692f;
}

h3{
	background-color: #fa9b27;
}

h4{
	background-color: #fccd5b;
}